body {
    background-color: #949494;
    overflow-x: hidden;
}
.header {
    position: relative;
    background-color:rgb(53, 53, 53);
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
    color: rgb(255, 30, 30);
    padding: 15px 4px;
    text-align: center;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border-radius: 5px;
    margin-top: 0;
}
.Navbar {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
}
.Home {
    position: absolute;
    background-color:rgb(53, 53, 53);
    color: rgb(235, 17, 17);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 5px 5px;
    width: 100%;
    top: 78%;
    border-radius: 5px;
}
.links {
    text-decoration: none;
    transition: 400ms;
}
.links:hover{
    color: black;
}
.links :hover{
    color: rgb(255, 255, 255);
}
.Column1 {
    position: absolute;
    background-color: rgb(44, 44, 44);
    color: rgb(255, 30, 30);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border-radius: 10px;
    padding: 5px 5px;
    width: 40%;
    left: 5%;
    top: 175px;
    border: 6px solid black;
    
}
.column2 {
    position: absolute;
    background-color: rgb(44, 44, 44);
    color: rgb(255, 30, 30);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border-radius: 10px;
    padding: 5px 5px;
    width: 40%;
    left: 55%;
    top: 175px;
    border: 6px solid black;
    text-align: justify;
}

.column3 {
    position: absolute;
    background-color: rgb(44, 44, 44);
    color: rgb(255, 30, 30);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;
    border-radius: 10px;
    padding: 5px 5px;
    width: 40%;
    left: 55%;
    top: 482.5px;
    border: 6px solid black;
}
.images {
    position: relative;
    left: 55%;
    top: 32.5%;
}
.home_image {
    position: absolute;
    top: 26.69%; /*hehe 69*/
    left: 55%;
    height: 48%;
    border: 6px solid  #444a ;
    border-radius: 5px;

}
.home_image1{
        position: absolute;
    top: 26.69%; /*hehe 69*/
    right: 55%;
    height: 48%;
        border: 6px solid  #444a ;
    border-radius: 5px;
}
.The_Attacks_image {
    position: absolute;
    left: 5%;
    top: 43%;
    border-radius: 5px;
    border: 3px solid black;
}
.Short-Term_Impacts_image {
    position: absolute;
    left: 10%;
    top: 65%;
    border-radius: 5px;
    border: 3px solid black;
    background-color: #444a;
}

video {
    position: absolute;
    left: 53%;
    top: 50%;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
}
.footer {
    position: absolute;
    background-color: rgb(44, 44, 44);
    color: rgb(255, 30, 30);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    padding: 5px;
    top: 110%;
    width: 90%;
    left: 5%;
    border: 6px solid black;
}
.pdfPP {
    left: 55%;
}
video{
    border-radius: 5px;
    border: 3px solid black;
    background-color: black;
}