body {
    background-color: #949494;
    overflow-x: hidden;
}
.header {
    background-color:black;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 30, 30);
    padding: 15px 5px;
    text-align: center;
    width: 100%;
    left: 10%;
    top: 10%;
}
.Navbar {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 10px;
    text-align: center;
    width: 100%;
}
.Home {
    position: absolute;
    background-color:black;;
    color: rgb(255, 30, 30);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 5px 5px;
    width: 100%;
    top: 78%;
}
.links {
    text-decoration: none;
}
.Column1 {
    position: absolute;
    background-color:black;;
    color: rgb(255, 30, 30);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border-radius: 10px;
    padding: 5px 5px;
    width: 40%;
    left: 5%;
    top: 175px;
}
.column2 {
    position: absolute;
    background-color: black;;
    color: rgb(255, 30, 30);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border-radius: 10px;
    padding: 5px 5px;
    width: 40%;
    left: 55%;
    top: 175px;
}
.column3 {
    position: absolute;
    background-color: black;;
    color: rgb(255, 30, 30);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;
    border-radius: 10px;
    padding: 5px 5px;
    width: 40%;
    left: 55%;
    top: 482.5px;
}
.images {
    position: relative;
    left: 55%;
    top: 32.5%;
}
.home_image {
    position: absolute;
    top: 26.69%; /*hehe 69*/
    left: 50%;
    height: 48%;
    border-right: 6px solid  #444a ;
    border-top: 6px solid  #444a ;
    border-bottom: 6px solid  #444a ;
    border-radius: 5px;

}
.home_image1{
        position: absolute;
    top: 26.69%; /*hehe 69*/
    right: 50%;
    height: 48%;
        border-left: 6px solid  #444a ;
    border-top: 6px solid  #444a ;
    border-bottom: 6px solid  #444a ;
    border-radius: 5px;
}
.The_Attacks_image {
    position: absolute;
    left: 5%;
    top: 43%;
}
.Short-Term_Impacts_image {
    position: absolute;
    left: 5%;
    top: 65%;
}

video {
    position: absolute;
    left: 53%;
    top: 50%;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
}
.footer {
    position: absolute;
    background-color: black;;
    color: rgb(255, 30, 30);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    padding: 5px;
    top: 110%;
    width: 90%;
    left: 5%;
}
.pdfPP {
    left: 55%;
}